<%- include ('parts/header')%>
     


      <div class="container-fluid  mt-3">
        
        <div class="row">
          
          <div class="col-2" >
          <div class= "container">
            
            <h4>Mi perfil</h4>
            <ul class="nav flex-column">
             
              <li class="nav-item">
                <a class="nav-link" href="/profile/detailOwner/<%=usuarioActual[0].id %>"><i class="fas fa-user-circle"></i>&nbsp <%=usuarioActual[0].nombre %> <%=usuarioActual[0].apellido %></a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/profile/friendRequests/<%=usuarioActual[0].id %>"><i class="fas fa-users"></i>&nbsp Solicitudes de amistad</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/profile/friends/<%=usuarioActual[0].id %>"><i class="fas fa-user-friends"></i>&nbsp Amigos</a>
              </li>
                         
            </ul>
  
          </div>
  
          </div>
       



          <div class="col-10">
            <div class="container-fluid">
              <div class="row">





                <%  if (todosLosUsuarios !== null){%>
                  <% for(let usuario of todosLosUsuarios){%>
                    <div class="col-10 mb-2 col-md-3">
                      <div class="card" >
                        
                        <img src="img/tecla.png" style="width: 100%; padding: 10px;">

                          <img src="img/<%=usuario.imagen %>" class="card-img-top  p-2" width="100%" height="250px">
                          
                          <div class="card-body d-flex flex-column" style="height:170px" >
                            <h5 class="card-title" >  <a class="nav-link" href="/profile/detailOwner/<%=usuario.id %>">&nbsp <%=usuario.nombre %> <%=usuario.apellido %></a></h5>

                            
                              <br>
                              <%let encontrado=0%>
                              <% usuarioActual.forEach(function(usuarioOwner){ %>
                                
                               <%if(usuarioOwner.solicitudesenviadas.id_friend===usuario.id){%>
                                  <%encontrado=1%>
                               <%}%>

                              
                              <% }); %>



                              <% instanceFriendRequest.forEach(function(friendrq){ %>
                                
                                <%if(friendrq.id_friend===usuario.id){%>
                                   <%encontrado=2%>
                                <%}%>
 
                               
                               <% }); %>


                               <% instanceFriends.forEach(function(friend){ %>
                                
                                <%if(friend.id_friend===usuario.id){%>
                                   <%encontrado=3%>
                                <%}%>
 
                               
                               <% }); %>

                              



                              <%if(encontrado==1){%>
                               
                                <a href="/friends/cancel/<%=usuario.id %>" class="btn-item btn btn-danger mt-auto">Cancelar solicitud</a>
 
                                <%}else if(encontrado==2){%>
                                <a href="/profile/friendRequests/<%=usuarioActual[0].id %>" class="btn-item btn btn-info text-white mt-auto">Socicitud de amistad</a>
                                <%}else if(encontrado==3){%>
                                  <a href="/profile/friendRequests/<%=usuarioActual[0].id %>" class="btn-item btn btn-warning text-white mt-auto">Amigos</a>
  
                               <%}else{%>

                                <a href="/friends/add/<%=usuario.id %>" class="btn-item btn btn-primary mt-auto">Agregar</a>
                                <%}%>
                                
                            </div>
                      </div>
                  </div>
                  <% } %>
                  <%}%>











            



              </div>
            </div>
          </div>
 

  
          
        </div>
        </div>
  










<!-- BOOTSTRAP 5 JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>


</body>
</html>